aiohttp
aiosignal
aniso8601
async-timeout
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
fake-useragent
Flask
Flask-Login
Flask-RESTful
Flask-WTF
frozenlist
greenlet
idna
itsdangerous
Jinja2
lxml
MarkupSafe
multidict
password-strength
python-dotenv
pytz
requests
six
soupsieve
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
urllib3
Werkzeug
WTForms
yarl
