body{
  font-family: "Netflix";
  position: relative;

}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 25;
  left: 25%;
  right: 25;
  top: 25%;
  color: white;

}

.map {
    position: absolute;
    left: 0%;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
}

.part {
opacity: .0
}

.part:hover {
    transition: opacity .3s ease;
    opacity: .5;
    cursor: pointer;
}

@font-face {
  font-family: "Netflix";
  src: url("../fonts/NetflixFont.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

