{% extends "base.html" %}
{% block content %}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a style="color:gray; font-size: x-large" class="nav-link active" aria-current="page" href="#">Рекомендации</a>
  </li>
  <li class="nav-item">
    <a style="color:gray; font-size: x-large" class="nav-link" href="#">Регионы</a>
  </li>
  <li class="nav-item">
    <a style="color:gray; font-size: x-large" class="nav-link" href="#">Найти по карте</a>
  </li>
  <li class="nav-item">
    <a style="color:gray; font-size: x-large" class="nav-link" href="#">Новости</a>
  </li>
  <li class="nav-item">
    <a style="color:gray; font-size: x-large" class="nav-link" href="#">О нас</a>
  </li>
</ul>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for trip in trips %}
    {% if loop.first %}
    <div align="center" class="carousel-item active" data-bs-interval="10000">
      <img style="height: 60vh; width: 100vw" src="{{trip['image']}}" class="img-thumbnail" alt="...">
      <div class="overlay">
        <h3>{{trip["title"]}}</h3>
        <h4>{{trip["region"]}}</h4>
        <button>Узнать больше</button>
      </div>
    </div>
    {% else %}
    <div align="center" class="carousel-item" data-bs-interval="10000">
      <img style="height: 60vh; width: 100vw" src="{{trip['image']}}" class="img-thumbnail" alt="...">
      <div class="overlay">
        <h3>{{trip["title"]}}</h3>
        <h4>{{trip["region"]}}</h4>
        <button>Узнать больше</button>
      </div>

    </div>
    {% endif %}
    {% endfor %}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}