{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    <div style="position:absolute;top:10px;right:50px;">
        <img width="50px" src="{{url_for('static', filename='img/login/icon_user.jpg')}}">
        <span style="font-size:25px;margin-right:20px;">{{ current_user.name + ' ' + current_user.surname }}</span>
        <a href="/logout"><button type="button" class="btn btn-outline-danger">Выйти</button></a>
    </div>
{% else %}
    <div style="position:absolute; top:20px;right:5%;" class="btn-group" role="group" aria-label="Basic example">
        <a href="/login"><button style="font-size:20px;margin-right:15px;" type="button" class="btn btn-outline-success">Войти</button></a>
        <a href="/register"><button style="font-size:20px;" type="button" class="btn btn-outline-secondary">Зарегистрироваться</button></a>
    </div>
{% endif %}

<a href="/districts/{{district['id']}}"><button style="width:150px;height:50px;position:absolute;top:10px;font-size:20px;left:10px;" type="button" class="btn btn-outline-secondary">← Назад</button></a>
<br>
<div class="image_cap">
    <img class="img-fluid" src="{{url_for('static', filename=trip['image'])}}" style="height:60vh; width:100vw;">
    <div class="overlay">
        <h1 style="font-size: 2em;">{{trip["title"]}}</h1>
        <h2 style="font-size: 1.7em;">{{district["name"]}}</h2>
    </div>
</div>
<br><br>
<h2 align="center">Описание</h2>
<div align="center" class="border" style="width:60%;font-size: 30px;">
    <p>{{trip["description"]}}</p>
</div>

<br><br>
<h1 align="center">Маршрут</h1>
<div class="container" style="display: block;">
{% for des in descriptions %}
    {% if loop.index % 2 == 0 %}
        <div class="card mb-3" style="margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{url_for('static', filename=des['image'])}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8" style="position:relative;">
                <div style="width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);justify:center;">
                    <div class="card-body">
                        <p style="font-size:24px;" class="card-text">{{des['description']}}</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
    {% else %}
        <div class="card mb-3" style="margin: 0 auto;">
          <div class="row g-0">
            <div class="col-md-8" style="position:relative;">
              <div class="card-body">
                  <div style="width:80%;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);justify:center;">
                      <p style="font-size:24px;" class="card-text">{{des['description']}}</p>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <img src="{{url_for('static', filename=des['image'])}}" class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>
    {% endif %}
    <br><br>
{% endfor %}
</div>
<br>
<h1 align="center">Маршрут на карте</h1>

<div align="center" style="">
{% for settlement in trip['settlements'] %}
    <div style="display:inline-block;" class="city">{{settlement}}</div>
{% endfor %}
<br>
<img src="{{url_for('static', filename=trip['route'])}}">
</div>
<br><br>
{% if reviews %}
<div style="margin-left:150px;margin-right:150px;" align="center">
    <div>
        <span style="font-size:35px;margin-right:20px;">Отзывы</span>
        {% if current_user.is_authenticated %}
            <br>
            <a id="openReviewButton" onclick="openFormReview()"><button type="button" class="btn btn-outline-primary">Оставить свой отзыв</button></a>
            <form>
                <div id="formContainer" class="border" style="display:none;width:30%">
                    <a id="closeReviewButton" onclick="closeFormReview()"><button style="float: left;margin-right: 10px;" type="button" class="btn btn-outline-danger">Закрыть</button></a>
                    <br><br>

                    <div class="form-floating">
                        <input class="form-control" id="floatingTitle" placeholder="Напишите краткое название своего отзыва" required>
                        <label class="form-label" for="floatingTitle">Краткое название</label>
                        <div class="invalid-feedback">
                            Заполните поле
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <textarea placeholder="Напишите отзыв" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                    </div>

                    <input type="radio" class="btn-check" name="options" id="excellentButton" autocomplete="off" checked>
                    <label class="btn btn-success" for="excellentButton">Отлично</label>

                    <input type="radio" class="btn-check" name="options" id="goodButton" autocomplete="off">
                    <label class="btn btn-warning" for="goodButton">Хорошо</label>

                    <input type="radio" class="btn-check" name="options" id="badButton" autocomplete="off">
                    <label class="btn btn-danger" for="badButton">Плохо</label>

                    <br><br>
                    <a><button onclick="submitReview({{district.id}}, {{trip['id']}})" id="submitReviewButton" type="submit" class="btn btn-outline-primary">Оставить отзыв</button></a>
                </div>
            </form>
            <br>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for review in reviews[:9] %}
        <div class="col">
            <div class="card">
                <h5 class="card-header">{{review['title']}}</h5>
              <div class="card-body">
                  {% if current_user.id == review['user_id'] %}
                        <h5 style="color:red;" class="card-title">
                            {{review['user_name']}}
                            {% if review['like'] == 'bad' %}
                                <span class="badge text-bg-danger">Не рекомендует</span>
                            {% elif review['like'] == 'good' %}
                                <span class="badge text-bg-warning">Неплохо</span>
                            {% else %}
                                <span class="badge text-bg-success">Рекомендует</span>
                            {% endif %}
                        </h5>
                  {% else %}
                    <h5 class="card-title">
                            {{review['user_name']}}
                            {% if review['like'] == 'bad' %}
                                <span class="badge text-bg-danger">Не рекомендует</span>
                            {% elif review['like'] == 'good' %}
                                <span class="badge text-bg-warning">Неплохо</span>
                            {% else %}
                                <span class="badge text-bg-success">Рекомендует</span>
                            {% endif %}
                        </h5>
                  {% endif %}
                <p class="card-text">{{review['text']}}</p>
              </div>
              <div class="card-footer text-body-secondary">
                  {{review['date']}}
              </div>
            </div>
        </div>
        {% endfor%}
    </div>
    <br>
    {% if reviews|length > 9 %}
    <a href="/districts/{{district['id']}}/trips/{{trip['id']}}/reviews"><button type="button" class="btn btn-outline-primary">Читать ещё</button></a>
    {% endif %}
    <script>
        function openFormReview() {
            document.getElementById("formContainer").style.display = "block";
            document.getElementById("openReviewButton").style.display = "none";
        }
        function closeFormReview() {
            document.getElementById("formContainer").style.display = "none";
            document.getElementById("openReviewButton").style.display = "block";
        }

    </script>
</div>
{% endif %}

{% endblock %}